<% layout('/Layouts/boilerplates.ejs') %>
<body>
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            All Players:
        </div>
        <ul class="list-group list-group-flush">
            <% for(let player of players) { %>
                <li class="list-group-item">
                    <a href="/players/<%= player._id %> "><%= player.name %> </a>
                </li>
            <% } %>
        </ul>
      </div>

</body>
