<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add new Player</h1>
    <form action="/players" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="team">Team</label>
        <input type="text" name="team" id="team">
        <label for="age">Age</label>
        <input type="number" name="age" id="age">
        <label for="role">Role</label>
        <input type="text" name="role" id="role">
        <label for="position">Position</label>
        <input type="text" name="position" id="position">
        <label for="jersey">Jersey Number</label>
        <input type="text" name="jersey" id="jersey">
        <button>Submit</button>
    </form>
    
</body>
</html>